<jsp:root version="2.0"
          xmlns:jsp="http://java.sun.com/JSP/Page"
          xmlns:c="http://java.sun.com/jsp/jstl/core"
          xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
          xmlns:fn="http://java.sun.com/jsp/jstl/functions"
          xmlns:spring="http://www.springframework.org/tags"
          xmlns:form="http://www.springframework.org/tags/form">
    <jsp:output omit-xml-declaration="yes"/>

    <c:if test="${ not empty workflowErrors }">
        <c:if test="${ not empty workflowErrors.allErrors }">
            <div id="workflowErrors">
                <c:forEach items="${workflowErrors.allErrors}" var="error">
                    <spring:message code="${error.code}"
                                    arguments="${error.arguments}"
                                    text="${error.defaultMessage}"/>
                    <br/>
                </c:forEach>
            </div>
        </c:if>
    </c:if>
</jsp:root>
